* {
    padding: 0;
    margin: 0;
}

body {
    height: 1130px;
    width: 100%;
    background-color: #121212;
}

#title {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #121212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    justify-content: center;
    align-items: center;  
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1000px;
    width: 100%;
    background-color: #121212;
}

.project-container {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: #121212;
}

img {
    width: 200px;
}


footer {
    text-align: center;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.fa-linkedin {
    position: relative;
    right: 2%;
    color: white;
    transform: scale(0.75);
}

.fa-envelope {
    color: white;
    transform: scale(0.75);
}

.fa-github{
    position: relative;
    left: 2%;
    color: white;
    transform: scale(0.75);
}