@font-face {font-family: Matrix; src: url('matrix_code_nfi/matrix\ code\ nfi.ttf')}

:root {
    --cube-width: 300px;
    --translateZ: 150px;
}

.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    perspective: 1000px;
    perspective-origin: center;
}

.cube {
    transform-style: preserve-3d;
    height: var(--cube-width);
    width: var(--cube-width);
    animation: spin 5s linear infinite;
}

.cube-face {
    height: var(--cube-width);
    width: var(--cube-width);
    position: absolute;
    
}

/* project */
#project-picture {
    height: 300px;
    width: 300px;
}

#front {
    background-color: green;
    transform: translate3d(0,0,var(--translateZ));
    display: flex;
}

/* linkedin */
.fa-linkedin {
    color: white;
    transform: scale(15);
}

#back {
    transform: rotate3d(0,1,0,180deg) translate3d(0,0,var(--translateZ));
    background-color: #0a66c2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* github */
.fa-github {
    color: white;
    transform: scale(7);
}

#left {
    background-color: black;
    transform: rotate3d(0,1,0,-90deg) translate3d(0,0,var(--translateZ));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quaternion visualizer */
#quaternion-picture {
    height: 300px;
    width: 300px;
}

#right {
    background-color: yellow;
    transform: rotate3d(0,1,0,90deg) translate3d(0,0,var(--translateZ));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* matrix */
#top {
    background-color: black;
    transform: rotate3d(1,0,0,90deg) translate3d(0,0,var(--translateZ));
}

/* quaternion visualizer */
#quaternion-picture {
    height: 300px;
    width: 300px;
}

/* email */
.fa-envelope {
    color: white;
    transform: scale(7);
}

#bottom {
    background-color: red;
    transform: rotate3d(1,0,0,-90deg) translate3d(0,0,var(--translateZ));
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate3d(1,1,0, 0deg);
    } 100% {
        transform: rotate3d(1,1,0, 360deg);
    } 
}

@media (max-width: 600px) {
    :root {
        --cube-width: 200px;
        --translateZ: 100px;
    }

    .cube-container {
        height: 800px;
    }

    #project-picture {
        height: 200px;
        width: 200px;
    }

    #animation-box {
        height: 200px;
        width: 200px;
    }

    #quaternion-picture {
        height: 200px;
        width: 200px;
    }

    .fa-linkedin {
        transform: scale(10);
    }

    .fa-github {
        transform: scale(4);
    }

    .fa-envelope {
        transform: scale(5);
    }
}